{% extends 'flatpages/default.html' %}
 
{% block title %} Product list {% endblock title %}
 
{% block content %}
<h2>&nbsp;</h2>
<h2><i>Подробности</i></h2>
<h2>&nbsp;</h2>
<table>
    <thead>
        <th>
            Категория
        </th>
        <th>
            Источник
        </th>
        <th>
            Дата
        </th>
        <th>
            Имя
        </th>
        <th>
            Текст
        </th>
    </thead>
    <tr>
        <td>
            {{ category.category|title }}
        </td>
        <td>
            {{ category.source.name|title }}
        </td>
        <td>
            {{ category.date }}
        </td>
        <td>
            {{ category.name }}
        </td>
        <td>
            {{ category.description }}
        </td>
        <hr>

            {% if is_not_subscribe %}

            <button><a href="add_subscribe/?pk={{ post.category.id }}">Подписаться на все новости категории "{{ category.category|title }}"</a></button>
            {% endif %}

            {% if is_subscribe %}
            <button><a href="del_subscribe/?pk={{ post.category.id }}">Отписаться от новостей категории "{{ post.category|title }}"</a></button>
            {% endif %}

        <hr>
    </tr>
</table>
{% endblock content %}